.jumbotron{
    background-image: url('/img/imagemazul.jpg');
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}

.mestre{
    width: 56px;
    height: 56px;
}

.icones a{
    display: block;
    width: 36px;
    height: 36px;
}
.icones li{
    display: inline-block;

}
.icones a[href='https://github.com']{
    background-image: url('/img/github.png');
    background-size: 36px 36px;
}
.icones a[href='https://www.google.com/']{
    background-image: url('/img/google.jpg');
    background-size: 36px 36px;
}
.icones a[href='https://www.linkedin.com/']{
    background-image: url('/img/linkedin2.png');
    background-size: 36px 36px;
}
.icones a[href='https://www.facebook.com/']{
    background-image: url('/img/facebook.jpg');
    background-size: 36px 36px;
}

.avaliado {
    color: aqua;
    text-align: center;
}
.card-header{
    background-image: url('/img/imagemazul.jpg');
    background-size: cover;
    background-position: center;
    
}
.melhorhospital{
    color: aqua;
    text-align: center;
}



/*
.nav-link{
    padding-top: 5rem ; /* pt-0 até pt-5 */
    padding-left: ;/* pl-0 até pl-5 */
    padding-right: ;/* pr-0 até pr-5 */
    padding-bottom: 5rem;/* pb-0 até pb-5 */
    background: violet;
    border: solid;

    margin-top: 5rem; /* mt-0 até mt-5 */
    margin-left: ; /* ml-0 até ml-5 */
    margin-right: ;/* mr-0 até mr-5 */
    margin-bottom: 5rem ;/* mb-0 até mb-5 


} */
